body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    min-height: 100vh;
    font-family: Inter, sans-serif;
    /*width: 393px;*/ /* 固定頁面寬度 */
    overflow-x: hidden; /* 禁止水平滾動 */
}



.container {
    width: 90%;
    max-width: 335px;
    background-color: white;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/ /*這一行會讓再電腦上看時，手機頁面周圍有一圈陰影*/
    border-radius: 8px;
    padding: 16px;
    position: relative;
}

.header-image {
    width: 100%;
    height: auto;
}

.title {
    margin-top: 16px;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.5;
    color: black;
}

.section img {
    width: 100%;
    height: auto;
}

.paragraph {
    margin-top: 16px;
    font-size: 18px;
    line-height: 1.8;
    color: #343539;
}

